/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1 {
  background-image: url(sprite.png);
  background-position: -28px -27px;
  width: 27px;
  height: 27px;
}
.icon-2 {
  background-image: url(sprite.png);
  background-position: 0px -27px;
  width: 28px;
  height: 28px;
}
.icon-3 {
  background-image: url(sprite.png);
  background-position: 0px -55px;
  width: 27px;
  height: 27px;
}
.icon-4 {
  background-image: url(sprite.png);
  background-position: -65px 0px;
  width: 26px;
  height: 29px;
}
.icon-5 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 33px;
  height: 27px;
}
.icon-6 {
  background-image: url(sprite.png);
  background-position: -33px 0px;
  width: 32px;
  height: 26px;
}
.icon-7 {
  background-image: url(sprite.png);
  background-position: -27px -55px;
  width: 27px;
  height: 16px;
}
